################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LMSInventory/API/LMS.API.DataAccessLayer/Migrations
