@page "/"
@inject HttpClient Http
@using LMS.API.DTOs.ResponseDTOs;

<PageTitle>Home</PageTitle>

@if (stores == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="xmlComp flex-column fw-bold mb-3 p-1">
        <div>&lt;Stores&gt;</div>
            @foreach (var store in stores)
            {
                <StoreComponent Store=store />
            }
        <div>&lt;/Stores&gt;</div>
    </div>
}

@code {
    private StoreResDTO[]? stores;

    protected override async Task OnInitializedAsync()
    {
        stores = await Http.GetFromJsonAsync<StoreResDTO[]>("sample-data/store.json");
    }
}
