@page "/"
@using Newtonsoft.Json;
@inject HttpClientHelper Http

<PageTitle>Home</PageTitle>

@if (stores == null)
{
    <img src="progressbar2.gif" alt="Loading..." class="center">
}
else
{
    <div class="xmlComp flex-column fw-bold mb-3 p-1">
        <div>&lt;Stores&gt;</div>
        @foreach (var store in stores)
        {
            <StoreComponent Store=store />
        }
        <div>&lt;/Stores&gt;</div>
    </div>
}

@code {
    private StoreResDTO[]? stores;

    protected override async Task OnInitializedAsync()
    {
        var resp = await Http.Post(Constants.APIEndpoints.GET_ALL_STORES, "", true);
        resp.EnsureSuccessStatusCode();

        var result = resp.Content.ReadAsStringAsync().Result;
        stores = JsonConvert.DeserializeObject<StoreResDTO[]>(result);
    }
}
